@font-face {
    font-family: defaultFont;
    src: url(../DroidSansMono.woff);
}
* {
    font-family: defaultFont;
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.flyingChar {
    position: absolute;
    display: inline-block;
}
.frame {
    font-size: 28px;
}
.h1 {
    font-size: 22px;
}
.h2 {
    font-size: 12px;
}
a {
    color: dodgerblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.arroba {
    font-family: arial, sans-serif;
    font-size: 26px;
}
.job {
    font-size: 14px;
    margin-top: 10px;
    overflow: hidden;
    width: 317px;
}
.job > div, .job > a {
    float: left;
}
.job > a {
    border: 1px solid #ccc;
    width: 80px;
    height: 80px;
}
.job > div:nth-child(2) {
    margin-left: 5px;
    line-height: 23px;
    margin-top: 5px;
    width: 230px;
}
.job > div:nth-child(2) div:not('.company') {
    font-size: 12px;
}
.job img {
    width: 100%;
}
.company {
    font-weight: bold;
}
.skills {
    margin-top: 10px;
    font-size: 12px;
}
.skills > div {
    margin-top: 7px;
}
.skills.idioms > div {
    margin-top: 16px;
}
.progressbar {
    border: 1px solid #ccc;
    height: 8px;
    width: 250px;
    border-radius: 4px;
}
.progressbar > div {
    height: 100%;
}
.progressbar > div.full {
    background: #6f6;
}
.idiom {
    margin-top: 30px;
}
.description {
    font-size: 12px;
    line-height: 14px;
}
.job.project {
    width: 280px;
}
.job.project > div:nth-child(2) {
    width: 190px;

}
.job.project > div:nth-child(3).description.more {
    width: 277px;
}
.courses {
    margin-top: 18px;
}
.courses > a {
    display: inline-block;
    font-size: 12px;
    margin-top: 14px;
    line-height: 14px;
    color: #333;
    text-decoration: none;
}
.courses > a:first-child {
    margin-top: 0;
}
.courses > a:hover {
    color: #000;
    text-decoration: underline;
}
.courses a img {
    position: absolute;
    width: 14px;
    margin-left: 8px;
}