@font-face {
    font-family: defaultFont;
    src: url(../DroidSansMono.woff);
}
* {
    font-family: defaultFont;
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.flyingChar {
    position: absolute;
    display: inline-block;
}
.frame {
    font-size: 28px;
}
.h1 {
    font-size: 22px;
}
.h2 {
    font-size: 12px;
}
a {
    color: dodgerblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.arroba {
    font-family: arial, sans-serif;
    font-size: 26px;
}